@media (max-width: 1600px){
    
}

@media (min-width: 1024px) and (max-width: 1599px){
    .bala-text {
        margin-left: 100px;
    }
    .assets {
        margin-right: 100px;
    }
    .wrapper-grid {
        margin: 30px 20px;
    }
    .text {
        margin: 10px 30px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bala-text {
        margin-left: 40px;
        font-size: 50px;
    }
    .assets {
        margin-right: 40px;
        font-size: 20px;
    }
    .wrapper-grid {
        margin: 20px 60px;
        grid-template-columns: repeat(2, 1fr);
    }
    .text {
        margin: 10px 60px;
    }
    .text text1 {
        font-size: 60px;
    }
    .text text2 {
        font-size: 18px;
    }
}

@media (max-width: 766px) {
    .header-container {
        justify-content: space-around;
    }
    .bala-text {
        margin-left: 5px;
        font-size: 38px;
    }
    .bala-text sup {
        font-size: 18px;
    }
    .assets {
        margin-right: 5px;
    }
    label, .phone {
        display: none;
    }
    .katalog-text {
        padding: 3px 30px;
    }
    .katalog_block {
        font-size: 32px;
    }
    .whts_pic {
        margin-top: 2px;
        width: 60px; 
        height: 60px;
    }
    .inst_pic {
        width: 50px; 
        height: 50px;
        margin-top: 5px;
    }
    .wrapper-grid {
        margin: 20px;
        grid-template-columns: repeat(2, 1fr);
        font-size: 22px;
        grid-gap: 6px;
    }
    #block {
        padding: 20px 0;
        border-radius: 10px;
    }
    .text {
        margin: 10px 20px;
    }
    .text text1 {
        font-size: 30px;
    }
    .text text2 {
        font-size: 10px;
    }
}



















